.my-chart {
	/* min-width: 300px; */
	/* min-height: 300px; */
	max-width: 300px;
	max-height: 300px;
	border-radius: 12px;
	background: rgba(255, 255, 255, 0.747);
	/* background: linear-gradient(white, lightgrey, 0.8); */
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 80px );
	-webkit-backdrop-filter: blur( 20px );
	border-radius: 16px;
	/* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}

.chart-back-line {
	stroke: darkgrey;
	stroke-width: 2;
	stroke-linecap: round;
}

.chart-line {
	stroke: black;
	stroke-width: 2;
	stroke-linecap: round;
}

.chart-text {
	text-align: center;
}

.chart-circle:hover {

}
